/* .button1 {
    text-align: center;
    width: 8%;
}

.equal {
    width: 16.3%;
}

.option {
    padding-right: 14.1%;
}

.conveter {
    text-decoration: none;
} */

/* .txt {
    width: 33%;
} */
.time{
    padding-right: 17.1rem;
}
.subdrop{
    width: 9rem!important;
}
/* .textbox{
    width: 80%;
}

.disable
{
    width: 27.8%;
}

#display1{
    width: 32.3%;
} */